header {
  background-color: var(--tir-color);
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
}

header * {
  display: inline;
}

#header-left {
  display: flex;
  align-items: center;
}

#logo {
  height: 64px;
}

h1 {
  padding: 16px;
}

.icon {
  font-size: 3em;
  padding-right: 8px;
}

ul {
  list-style-type: none;
}
