<div class="group-view body-padding">
  <h1>{{group.name}}</h1>
  <div class="card" *ngFor="let module of group.modules">
    <a [routerLink]="['module', module.name]">
      <h2>{{module.name}}</h2>
      <app-aliases [aliases]="module.aliases"></app-aliases>
      <p>{{module.help}}</p>
      <p>Commands: </p>
      <table *ngFor="let command of module.commands">
        <tr>
          <td>{{command.name}}</td>
          <td>{{command.help}}</td>
        </tr>
      </table>
    </a>
  </div>
</div>
