/*
  Reset / Default / Variables
 */

body {
  --pri-color: rgb(32, 32, 32);
  --sec-color: rgb(40, 40, 40);
  --tir-color: rgb(59, 59, 59);
}

* {
  margin: 0;
  padding: 0;

  color: rgb(255, 255, 255);
  font-family: Raleway, sans-serif;
}

body {
  background-color: var(--pri-color);
}

app-navbar {
  background-color: var(--sec-color);
}

.body-padding {
  padding: 1em;
}

/*
  Tooltip
 */
.tooltip {
  visibility: hidden;
  opacity: 0.95;
  z-index: 1;
  width: 120px;
  border-radius: 32px;
  text-align: center;
  background-color: var(--tir-color);
}

.tooltip:hover {
  visibility: visible;
}

/**
  Center absolute content
 */
#center {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*
  Misc
 */

a {
  text-decoration: none;
}

.hover:not(:hover) {
  opacity: 0.8;
}

.flex {
  display: flex;
}
